@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/gotham-medium.woff2") format("woff2"),
      url("../fonts/gotham-medium.woff") format("woff"),
      url("../fonts/GothamMedium.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBold";
    src: url("../fonts/gotham-bold.woff") format("woff"),
         url("../fonts/gotham-bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook.woff") format("woff"),
         url("../fonts/GothamBook.ttf") format("truetype");
  }



  html,
  body{
      height: 100%;
      font-family: GothamBold;
      background:rgb(46, 180, 174);
      &.lock{
          @media (max-width: 767px)  {
           overflow: hidden;
      }
      }
      
  }
  .container {
      max-width: 1180px;
      margin: auto;
      padding: 0 10px;
  }
  
                    // -------------HEADER--------------//
  .header {
    //   position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 80;
      &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          z-index: 2;
      }
      &__body {
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 150px;
          align-items: center;
          @media (max-width: 767px) {
              height: 50px;
          }
      }
      &__logo {
        //   flex: 1 0 160px;
          overflow: hidden;
          z-index: 3;
          @media (max-width: 767px) {
              flex: 0 0 140px;
          }
      }
      &__logo img {
          max-width: 100%;
          display: block;
      }
      &__list{
          display: flex;
          position: relative;
          z-index: 2;
          @media (max-width: 767px) {
              display: block;
          }
      }
      &__list li{
          list-style: none;
          display: flex;
          align-items: center;
          margin: 0px  0px  0px  20px;
          @media (max-width: 767px) {
              margin: 0px  0px  20px  0px;
          }
      }
      &__link {
          font-family: GothamBook;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px;
          text-decoration: none;
         
      }
      &__bullet  {
          display: inline-block;
          border-width: 1px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 50%;
          width: 7px;
          height: 7px;
          margin-right: 12px;
          &:hover {
            background:rgb(255, 255, 255);
            transition: all .3s;
            cursor: pointer;
        }
      }
      &__burger {
          display: none;
      &:before,
      &:after {
          content: '';
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
      }
      &::before{
          top: 0;
      }
      &::after{
          bottom: 0;
      }
      &.active:before{
          transform: rotate(45deg);
          top: 9px;
      }
      &.active:after{
          transform: rotate(-45deg);
          bottom: 9px;
      }
      @media (max-width: 767px) {
              display: block;
              position: relative;
              width: 30px;
              height: 20px;
              position: relative;
              z-index: 3;
  
          }
      }
      &__burger span {
          position: absolute;
          background-color: #fff;
          left: 0;
          width: 100%;
          height: 2px;
          top: 9px;
      }
      &__burger.active span{
          transform: scale(0);
          transition: all 0.3s ease 0s;
      }
      &__menu {
          @media (max-width: 767px) {
          position: fixed;
          top: -116%;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background: rgb(46, 180, 174);
          transition: all 0.3s ease 0s;
          padding: 70px  10px  20px  10px;
          }
          &.active{
              top: 0;
          }
      }
  }
  .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 165px;
      @media (max-width: 1010px) {
          flex-direction: column;
     } 
     @media (max-width: 924px) {
         display: none;
     }
      &__circle {
        box-sizing:border-box;
        text-align: center;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 50%;
        opacity: 0.4;
        width: 38px;
        height: 38px;
        padding-top: 10px;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
   }
   &__icon {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
   }
  }
 

              // -------------HEADER-SLIDER--------------//



  