@import "mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/gotham-medium.woff2") format("woff2"),
      url("../fonts/gotham-medium.woff") format("woff"),
      url("../fonts/GothamMedium.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBold";
    src: url("../fonts/gotham-bold.woff") format("woff"),
         url("../fonts/gotham-bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook.woff") format("woff"),
         url("../fonts/GothamBook.ttf") format("truetype");
  }



  html,
  body{
      height: 100%;
      font-family: GothamBold;
      scroll-behavior: smooth;
      &.lock{
          @media (max-width: 767px)  {
           overflow: hidden;
      }
      }
      
  }
  .container {
      max-width: 1180px;
      margin: auto;
      padding: 0 10px;
      @media (max-width: 767px) {
          padding: 0 30px;
      }
  }
  
                    // -------------HEADER--------------//
  .header {
     width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      margin-bottom: -150px;
      @media (max-width: 767px) {
          margin: 21px  0px  -150px  0px;
      }
      &__body {
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 150px;
          align-items: center;
          @media (max-width: 767px) {
              height: 50px;
          }
      }
      &__logo {
        //   flex: 1 0 160px;
          overflow: hidden;
          z-index: 3;
          @media (max-width: 767px) {
              flex: 0 0 140px;
          }
      }
      &__logo img {
          max-width: 100%;
          display: block;
      }
      &__list{
          display: flex;
          position: relative;
          z-index: 2;
          @media (max-width: 767px) {
              display: block;
          }
      }
      &__list li{
          list-style: none;
          display: flex;
          align-items: center;
          margin: 0px  0px  0px  20px;
          &:hover{
            background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%)
        }
          @media (max-width: 767px) {
              margin: 0px  0px  20px  0px;
              
          }
      }
      &__link {
          font-family: GothamBook;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px;
          text-decoration: none;
          @media (max-width: 767px) {
              &:hover {
                  
              }
          }
      }
      &__bullet  {
          display: inline-block;
          border-width: 1px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 50%;
          width: 7px;
          height: 7px;
          margin-right: 12px;
          &:hover {
            background:rgb(255, 255, 255);
            transition: all .3s;
            cursor: pointer;
        }
      }
      &__burger {
          display: none;
          @media (max-width: 767px) {
            display: block;
            position: fixed;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 20px;
            z-index: 21;
            cursor: pointer;
          }
      &:before,
      &:after {
          content: '';
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
      }
      &::before{
          top: 0;
      }
      &::after{
          bottom: 0;
      }
      &.active:before{
          transform: rotate(45deg);
          top: 9px;
      }
      &.active:after{
          transform: rotate(-45deg);
          bottom: 9px;
      }
    }
      &__burger span {
          position: absolute;
          background-color: #fff;
          left: 0;
          width: 100%;
          height: 2px;
          top: 9px;
      }
      &__burger.active span{
          transform: scale(0);
          transition: all 0.3s ease 0s;
      }
      &__menu {
          @media (max-width: 767px) {
          display: block;
          position: fixed;
          top: -106%;
          right: 0;
          width: 30%;
          height: 50%;
          overflow: auto;
          background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
          opacity: 0.9;
          transition: all 0.3s ease 0s;
          padding: 42px  0px  0px  0px;
          z-index: 4;
          }
          &.active{
            top: 0px;
            right: 0;
          }
      }
  }
  .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 165px;
      z-index: 3;
      @media (max-width: 1010px) {
          flex-direction: column;
     } 
     @media (max-width: 924px) {
         display: none;
     }
      &__circle {
        box-sizing:border-box;
        text-align: center;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 50%;
        opacity: 0.4;
        width: 38px;
        height: 38px;
        padding-top: 10px;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        @media (max-width: 1010px) {
            margin-bottom: 10px;
        }
   }
   &__icon {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
   }
  }
 

              // -------------HEADER-SLIDER--------------//
.header-slider {
    position: relative;
}   

.header-slider__arrow {
    display: block;
    text-decoration: none;
    width: 38px;
    height: 38px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    opacity: 0.702;
    position: absolute;
    left: 50%;
    top: 83%;
    z-index: 5;
    outline: none;

    &::after{
        content: '';
        background: transparent;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 14px;
        left: 16px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 5;
    }
        &:hover{
            background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }
}

.header-slider__item {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:after {
        content: "";
        display: block;    
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0;      
        left: 0;   
        background: transparent;
        background-image: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
        opacity: 0.8;
    }
}

.header-slider .slick-arrow {
    display: none;
}
.header-slider .slick-dots {
    position: absolute;
    bottom: auto;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 3;
    outline: none;
    
    & li{
        list-style: none;
        margin: 0 10px;
        &.slick-active button{
            background: rgb(255, 255, 255);
            outline: none;
        }
    }
    & button {
        width: 9px;
        height: 9px;
        background: transparent;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-bottom: 40px;
        cursor: pointer;
    
    }
  
  }
.header-heading {
    position: absolute;
    top: calc(50% - 150px);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 3;
    &__title {
        font-family: "GothamBold";
        font-size: 80px;
        letter-spacing: .05em;
        }
    &__description{
        font-family: "GothamBook";
        font-size: 18px;
        letter-spacing: .3em;
        
    }
}


//   -------------SECTION ABOUT -------------------//
.about {
    height: 100vh;
    margin-top: 90px;
    overflow: hidden;

    &__title {
    @include title ($mainCol ,$mainCol);
    margin: 0px  0px  0px  0px;
    position: relative;
    
    }   
    &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__img {
        & img {
            max-width: 100%;
            z-index: 2;
        }
    }
    &__subtitle {
        font-family: "GothamBook";
        color: $mainCol;
        text-transform: uppercase;
        font-size: 22px;
        
    }
    &__description {
        @include text;
    }
    &__location {
        @include text;
        font-style: italic;
    }
}
.without-line{
    text-align: left;
    &::before{
    content: '';
    display: none;
    }
}
.about__inner {
    flex-basis: 50%;
}

.about__img--left {
    position: relative;
    &::before{
        content: '';
        display: block;
        background-color: rgb(85, 183, 255);
        position: absolute;
        left: -37%;
        bottom: 10%;
        width: 585px;
        height: 470px;   
        z-index: -1;   
    }
}
.about-right,
.about__left {
    text-align: left;
    flex-basis: 50%;
}
.about__inner--right {
    position: relative;
    &::after{
        content: '';
        display: block;
        background-color: rgb(126, 90, 255);
        position: absolute;
        right: -31%;
        bottom: 10%;
        width: 585px;
        height: 470px;   
        z-index: -1;   
    }
}
.btn {
    @include btn;
}
//   -------------SECTION projects -------------------//

.projects {
    height: 100vh;
    box-sizing:border-box;
    padding: 180px 215px 0 215px;
    margin: 0px  0px  0px  0px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
      @include title (#fff, #fff);
    }
}
.project-slide{
    max-width: 370px;
    max-height: 515px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px  30px  0px  0px;
    &__img {
        height: 240px;
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing:border-box;
        &:hover::before {
            content: url('../img/hoverPlus.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
        }    
    }
    &__description{
        box-sizing:border-box;
        background: #fff;
        padding: 23px  0px  0px  22px;
    }
    &__heading {
        font-family: "GothamBold";
        font-size: 22px;
        line-height: 34px;
        text-transform: uppercase;
        color: $mainCol;
        margin: 0px  0px  0px  0px;
    }
    &__text {
        @include text;
        min-height: 81px;
        margin: 3px 0px 0px 0px;
        overflow: hidden;
    }
    &__by {
        font-family: "GothamBook";
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__avatar {
        margin-right: 20px;
    }
    &__name {
        font-size: 18px;
        text-transform: uppercase;
        color: $mainCol;
        margin-bottom: 14px;
    }
    &__date {
        font-size: 14px;
        color: #55b7ff;

    }
}

.slick-arrow{
    position: absolute;
    top: 37%;
    z-index: 3;
    font-size: 0;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.562);
    border-radius: 50%;
    transition: all .15s;
    outline: none;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
        top: 43%;
    }
    @media screen and (max-width: 540px) {
        top: 103%;
    }
    &:hover{
        background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%)
    }
        &:after{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 34px;
        transform: rotate(45deg);
        @media screen and (max-width: 1024px) {
        width: 4px;
        height: 4px;
        top: 19px;
        }
        
    }
    @media screen and (max-width: 1024px)  {
        width: 28px;
        height: 28px;
    }
}
    .slick-prev {
    left: -80px;
    @media screen and (max-width: 540px) {
        left: -50px;
    }
    @media screen and (max-width: 280px) {
        left: -45px
    }
    &::after{
        border-left: 2px solid rgba(255, 255, 255, 0.562);
        border-bottom: 2px solid rgba(255, 255, 255, 0.562);
        right: 15px;
        top: 15px;
        @media screen and (max-width: 1024px) {
        left: 21px;
        }

    }
  }
  .slick-next{
    right:  -60px;
    @media screen and (max-width: 540px) {
        right: -40px;
    }
    @media screen and (max-width: 280px) {
        left: 160px
    }
    &::after{
        border-right: 2px solid rgba(255, 255, 255, 0.562);
        border-top: 2px solid rgba(255, 255, 255, 0.562);
        right: 15px;
        top: 15px;
        @media screen and (max-width: 1024px) {
        right: 10px;
        top: 10px;
        }
    }
  }
  .slider-projects .slick-dots {
    display: flex;
    outline: none;
    position: absolute;
    top: 87%;
    right: 34%;
    & li{
        list-style: none;
        margin: 0 10px;
        &.slick-active button{
            background: rgb(255, 255, 255);
            outline: none;
        }
    }
    & button {
        width: 9px;
        height: 9px;
        background: transparent;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-right: 40px;
        cursor: pointer;
    
    }
  
  }
  //   -------------SECTION GALLERY -------------------//

  .gallery {
      margin-top: 180px;
    &__title {
    @include title ($mainCol ,$mainCol);
    margin: 0px  0px  100px  0px;
    position: relative;
    } 
    &__body{
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        @media (max-width: 767px){
            flex-direction: column;
        }
    }
    &__one {
        height: auto;
        max-width: 50%; 
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:hover::before {
            content: url('../img/360.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
            transition: all .3s;
        } 
    }
    &__plenty {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__row {
        display: flex;
        
    }
    &__pic {
        height: 215px;
        width: 285px; 
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 10px;
        &:hover::before {
            content: url('../img/360.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
            transition: all .3s;
        } 
    }
  }