@import "mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/gotham-medium.woff2") format("woff2"),
      url("../fonts/gotham-medium.woff") format("woff"),
      url("../fonts/GothamMedium.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBold";
    src: url("../fonts/gotham-bold.woff") format("woff"),
         url("../fonts/gotham-bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook.woff") format("woff"),
         url("../fonts/GothamBook.ttf") format("truetype");
  }



  html,
  body{
      height: 100%;
      font-family: GothamBold;
      scroll-behavior: smooth;
      &.lock{
          @media (max-width: 767px)  {
           overflow: hidden;
      }
      }
      
  }
  .container {
      max-width: 1180px;
      margin: auto;
      padding: 0 10px;
      @media (max-width: 767px) {
          padding: 0 30px;
      }
  }
  
                    // -------------HEADER--------------//
  .header {
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      margin-bottom: -150px;
      @media (max-width: 767px) {
          margin: 21px  0px  -150px  0px;
      }
      &__body {
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 150px;
          align-items: center;
          @media (max-width: 767px) {
              height: 50px;
          }
      }
      &__logo {
          overflow: hidden;
          z-index: 3;
          @media (max-width: 767px) {
              flex: 0 0 140px;
          }
      }
      &__list{
          display: flex;
          position: relative;
          z-index: 2;
          @media (max-width: 767px) {
              display: block;
          }
      }
      &__list li{
          list-style: none;
          display: flex;
          align-items: center;
          margin: 0px  0px  0px  20px;
          &:hover{
            background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%)
        }
          @media (max-width: 767px) {
              margin: 0px  0px  20px  0px;
              
          }
      }
      &__link {
          font-family: GothamBook;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px;
          text-decoration: none;
          
      }
      &__bullet  {
          display: inline-block;
          border-width: 1px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 50%;
          width: 7px;
          height: 7px;
          margin-right: 12px;
          &:hover {
            background:rgb(255, 255, 255);
            transition: all .3s;
            cursor: pointer;
        }
      }
      &__burger {
          display: none;
          @media (max-width: 767px) {
            display: block;
            position: fixed;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 20px;
            z-index: 21;
            cursor: pointer;
          }
      &:before,
      &:after {
          content: '';
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
      }
      &::before{
          top: 0;
      }
      &::after{
          bottom: 0;
      }
      &.active:before{
          transform: rotate(45deg);
          top: 9px;
      }
      &.active:after{
          transform: rotate(-45deg);
          bottom: 9px;
      }
    }
      &__burger span {
          position: absolute;
          background-color: #fff;
          left: 0;
          width: 100%;
          height: 2px;
          top: 9px;
      }
      &__burger.active span{
          transform: scale(0);
          transition: all 0.3s ease 0s;
      }
      &__menu {
          @media (max-width: 767px) {
          display: block;
          position: fixed;
          top: -106%;
          right: 0;
          width: 50%;
          height: 100%;
          overflow: auto;
          background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
          opacity: 0.9;
          transition: all 0.3s ease 0s;
          padding: 35px  0px  0px  0px;
          z-index: 4;
          }
          &.active{
            top: 0px;
            right: 0;
          }
      }
  }
  .logo  {
    max-width: 100%;
    display: block;
}
  .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 165px;
      z-index: 3;
      @media (max-width: 1010px) {
          flex-direction: column;
     } 
     @media (max-width: 924px) {
         display: none;
     }
      &__circle {
        box-sizing:border-box;
        text-align: center;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 50%;
        opacity: 0.4;
        width: 38px;
        height: 38px;
        padding-top: 10px;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        @media (max-width: 1010px) {
            margin-bottom: 10px;
        }
   }
   &__icon {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
   }
  }
 

              // -------------HEADER-SLIDER--------------//
.header-slider {
    position: relative;
}   

.header-slider__arrow {
    display: block;
    text-decoration: none;
    width: 38px;
    height: 38px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    opacity: 0.702;
    position: absolute;
    left: 50%;
    top: 83%;
    z-index: 5;
    outline: none;
    margin-left: -20px;

    &::after{
        content: '';
        background: transparent;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 14px;
        left: 16px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 5;
    }
        &:hover{
            background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }
}

.header-slider__item {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:after {
        content: "";
        display: block;    
        width: 100%;
        height: 100%;    
        position: absolute;
        top: 0;      
        left: 0;   
        background: transparent;
        background-image: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
        opacity: 0.8;
    }
}

.header-slider .slick-arrow {
    display: none;
}
.header-slider .slick-dots {
    position: absolute;
    bottom: auto;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 3;
    outline: none;
    
    & li{
        list-style: none;
        margin: 0 10px;
        &.slick-active button{
            background: rgb(255, 255, 255);
            outline: none;
        }
    }
    & button {
        width: 9px;
        height: 9px;
        background: transparent;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-bottom: 40px;
        cursor: pointer;
    
    }
  
  }
.header-heading {
    position: absolute;
    top: calc(50% - 150px);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    z-index: 3;
    &__title {
        font-family: "GothamBold";
        font-size: 80px;
        letter-spacing: .05em;
        @media (max-width: 767px) {
            font-size: 50px;
            margin: 90px 0px 0px 0px;
    }
    @media screen and (max-width: 424px) {
            font-size: 40px;
            margin: 50px 0px 0px 0px;
    }
        }
    &__description{
        font-family: "GothamBook";
        font-size: 18px;
        letter-spacing: .3em;
        @media (max-width: 767px) {
            font-size: 15px;
            margin: 90px 0px 0px 0px;
        }
        @media screen and (max-width: 424px) {
            font-size: 13px;
            margin: 50px 0px 0px 0px;
    }
    }
}


//   -------------SECTION ABOUT -------------------//
.about {
    height: 100vh;
    margin-top: 90px;
    overflow: hidden;

    &__title ,
    &__center{
    @include title ($mainCol ,$mainCol);
    margin: 39px 0px 152px 0px;
    position: relative;
    }   
    &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 870px) {
        flex-direction: column;
        align-items: center;
        
    }
    }
    &__img {
        & img {
            max-width: 100%;
            z-index: 2;
        }
    }
    &__subtitle {
        font-family: "GothamBook";
        color: $mainCol;
        text-transform: uppercase;
        font-size: 22px;
        
    }
    &__center {
        margin: 20px 0px 45px 0px;
        text-align: left;
        &::before{
        content: '';
        display: none;
        }
    }
    &__description {
        @include text;
        margin-bottom: 40px;
    }
    &__location {
        @include text;
        font-style: italic;
    }
    &__btn {
        margin-bottom: 60px;
    }
}
.about__img--left ,
.about__img--right {
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 585px;
        height: 470px;   
        z-index: -1;   
    }
}
.about__img--left{
    &::before{
        content: '';
        display: block;
        background-color: rgb(85, 183, 255);
        left: -37%;
        bottom: 10%;
}
}
.about__img--right {
    &::before{
        content: '';
        background-color: #7e5aff;
        right: -31%;
        bottom: 10%;
     }
}
.about__right,
.about__left {
    text-align: left;
    width: 50%;
    @media screen and (max-width: 870px) {
        width: 100%;
        text-align: center;
    }
}
.about__left {
    margin-right: 70px;
    @media screen and (max-width: 870px){
        margin-right: 0;
    }
}
.btn {
    @include btn;
}
//   -------------SECTION projects -------------------//

.projects {
    background-size: cover;
    padding: 170px 0 188px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0px  0px  0px  0px;
    overflow: hidden;
    &__title {
      @include title (#fff, #fff);
      margin: 0px  0px  92px  0px;
    }
}
.project-slide{
    max-width: 370px;
    max-height: 515px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    padding: 0px  30px  22px  0px;
    &__img {
        height: 240px;
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-sizing:border-box;
        &:hover::before {
            content: url('../img/hoverPlus.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
        }    
    }
    &__description{
        box-sizing:border-box;
        background: #fff;
        padding: 23px  10px  22px  22px;
    }
    &__heading {
        font-family: "GothamBold";
        font-size: 22px;
        line-height: 34px;
        text-transform: uppercase;
        color: $mainCol;
        margin: 0px  0px  0px  0px;
    }
    &__text {
        @include text;
        min-height: 81px;
        margin: 3px 0px 0px 0px;
        overflow: hidden;
    }
    &__by {
        font-family: "GothamBook";
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__avatar {
        margin-right: 20px;
    }
    &__name {
        font-size: 18px;
        text-transform: uppercase;
        color: $mainCol;
        margin-bottom: -7px;
    }
    &__date {
        font-size: 14px;
        color: #55b7ff;

    }
}

.slick-arrow{
    position: absolute;
    top: 44%;
    z-index: 3;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.562);
    border-radius: 50%;
    transition: all .15s;
    outline: none;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
        top: 43%;
    }
    @media screen and (max-width: 540px) {
        top: 103%;
    }
    &:hover{
        background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%)
    }
        &:after{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 34px;
        transform: rotate(45deg);
        @media screen and (max-width: 1024px) {
        width: 4px;
        height: 4px;
        top: 19px;
        }
        
    }
    @media screen and (max-width: 1024px)  {
        width: 28px;
        height: 28px;
    }
}
    .slick-prev {
    left: -99px;
    @media screen and (max-width: 540px) {
        left: -50px;
    }
    @media screen and (max-width: 280px) {
        left: -45px
    }
    &::after{
        border-left: 2px solid rgba(255, 255, 255, 0.562);
        border-bottom: 2px solid rgba(255, 255, 255, 0.562);
        right: 15px;
        top: 15px;
        @media screen and (max-width: 1024px) {
        left: 21px;
        }

    }
  }
  .slick-next{
    right:  -91px;
    @media screen and (max-width: 540px) {
        right: -40px;
    }
    @media screen and (max-width: 280px) {
        left: 160px
    }
    &::after{
        border-right: 2px solid rgba(255, 255, 255, 0.562);
        border-top: 2px solid rgba(255, 255, 255, 0.562);
        right: 15px;
        top: 15px;
        @media screen and (max-width: 1024px) {
        right: 10px;
        top: 10px;
        }
    }
  }
  .slider-projects .slick-dots {
    display: flex;
    outline: none;
    position: absolute;
    right: 31%;
    bottom: -65px;
    & li{
        list-style: none;
        margin: 0 10px;
        &.slick-active button{
            background: rgb(255, 255, 255);
            outline: none;
        }
    }
    & button {
        width: 9px;
        height: 9px;
        background: transparent;
        border: 1px rgb(255, 255, 255) solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        
        }
    & button:last-child {
        margin-right: 40px;
    }
  
  }
  //   -------------SECTION GALLERY -------------------//

  .gallery {
    margin-top: 180px;
    &__title {
    @include title ($mainCol ,$mainCol);
    margin: -10px 0px 92px 0px;
    position: relative;
    } 
    &__body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 1220px) {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
    }
    &__one {
        // width: 50%; 
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 10px;
        & img {
            max-width: 100%;
            margin-bottom: 10px;   
        }
        &:hover::before {
            content: url('../img/360.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
            transition: all .3s;
        } 
    }
    &__plenty {
        display: flex;
        flex-direction: column;
        // width: 50%;
        margin-left: -10px;
    }
    &__row {
        display: flex;
        @media (max-width: 950px) {
            flex-wrap: wrap;
        }
        
    }
    &__pic {
        height: 215px;
        width: 285px; 
        max-width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0px  10px  10px  10px;
        @media (max-width: 950px) {
            &:nth-last-child(2) {
                display: none;
                
            }
        }
        &:nth-child(odd){
            margin-right: 0;
        }
        &:hover::before {
            content: url('../img/360.png');
            display: block;
            background-color: transparent;
            position: absolute;
            left: 40%;
            top: 40%;
            cursor: pointer;
            transition: all .3s;
        } 
    }
    &__btn {
        margin: 47px auto 40px;
    }
  }

  // ------------ SECTION MAP ----------//
#map {
    width: 100%;
    height: 700px;
    position: relative;
}

 // ------------ SECTION CONTACT ----------//
 .visually-hidden {
     display: none;
 }
.contact {
    display: block;
    position: absolute;
    top: 717%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    color: $mainCol;
    background: #fff url('/img/bgForm.jpg') no-repeat top center / cover;
    box-shadow: 0 -4px 30px 0 #858585;
    width: 770px;
    height: 350px;
    padding: 90px 60px 0px;
    margin: 0 auto -200px;
        @media screen and (max-width: 1024px) {
        padding: 40px;
    }
        @media screen and (max-width: 824px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: static;
        transform: translate(0);
        width: 80%;
        padding: 60px 30px 70px;
        box-shadow: 0 0 0 0 transparent;
        }
        @media screen and (max-width: 600px) {
        height: auto;
        }
        @media screen and (max-width: 475px) {
        padding: 30px 25px 50px;
        }

    &__inner {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  
      @media screen and (max-width: 600px) {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
      }
    }
  
    .fas, .far {
      display: inline-block;
      width: 24px;
      text-align: center;
      color: #7e5aff;
      font-weight: 900;
    }
  
    &__title {
      @include title ($mainCol , $mainCol);
      margin: 0 0 50px 0;
  
      @media screen and (max-width: 824px) {
        margin: 0;
      }
  
      &::before {
        color: $mainCol;
      }
    }
  
    &__left,
    &__right {
      width: 48%;
  
      @media screen and (max-width: 600px) {
        width: 100%;
        height: 200px;
      }
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
  
      @media screen and (max-width: 600px) {
        margin: 25px auto;
      }
    }
  
    &__item,
    &__form-name,
    &__form-email {
      font-family: "Gotham Book", Arial, sans-serif;
      font-size: 18px;
      line-height: 22px;
      font-style: normal;
      font-weight: 500;
      color: $mainCol;
      text-decoration: none;
      
    }
  
    &__item {
  
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }
  
    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    &__name-block,
    &__email-block {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    &__form-name,
    &__form-email {
      width: 100%;
      padding: 10px;
      outline: none;
      border-width: 0 0 1px 0;
      border-color: rgba(0, 0, 0, .7);
      opacity: .5;
  
      &:focus {
        border-color: rgba(0, 0, 0, 1);
        opacity: 1;
      }
    }
  
    &__btn {
     @include btn;
      width: 140px;
      margin: 0;
      padding: 18px 30px;
      align-self: flex-end;
      outline: none;
  
      @media screen and (max-width: 600px) {
        align-self: center;
      }
    }
  }
 // ------------ FOOTER----------//
 .footer {
    width: 100%;
    height: 524px;
    color: #fff;
  
    @media screen and (max-width: 820px) {
      height: 200px;
    }
  
    @media screen and (max-width: 620px) {
      height: 180px;
    }
  
    .inner {
      max-width: 800px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      @media screen and (max-width: 820px) {
        padding: 20px 10px;
        flex-direction: column;
      }
  
      @media screen and (max-width: 620px) {
        width: 90%;
        padding: 0;
      }
    }
  
    &__main-block {
      width: 100%;
      margin: 34px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
  
      @media screen and (max-width: 820px) {
        margin: 20px auto;
      }
  
      @media screen and (max-width: 620px) {
        margin: 10px auto;
        height: 120px;
        flex-direction: column;
      }
    }
  
    &__social-list {
      display: flex;
    }
  
    &__bottom-block {
      display: flex;
      align-items: center;
      align-self: flex-start;
      font-family: "Gotham Book", Arial, sans-serif;
      font-size: 14px;
      line-height: 22px;
      margin-top: 4px;
  
      @media screen and (max-width: 820px) {
        align-self: center;
      }
  
      @media screen and (max-width: 620px) {
        flex-direction: column;
      }
    }
  
    &__copyright {
      padding-right: 20px;
  
      @media screen and (max-width: 620px) {
        padding: 0;
      }
    }
  
    &__text {
      border-left: 1px solid #fff;
      padding-left: 20px;
  
      @media screen and (max-width: 620px) {
        padding: 0;
        border: none;
      }
    }
  }