$mainCol: #2c4058;

@mixin title ($col , $bg) {
    font-family: "GothamMedium",serif;
    font-size: 44px;
    text-transform: uppercase;
    color: $col;
    text-align: center;
    position: relative;
    &::before{
            content: '';
            display: block;
            background-color: $bg;
            position: absolute;
            left: 50%;
            top: -40px;
            width: 100px;
            height: 1px;
            z-index: 5;   
    }
  }
  @mixin text  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $mainCol;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
  @mixin btn {
    border: 1px $mainCol solid;
    text-transform: uppercase;
    max-width: 188px;
    height: 48px;
    text-decoration: none;
    color: $mainCol;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: 0.3s;
      transform: skew(-5deg);
      background: linear-gradient( 45deg, rgba(85, 184, 255, 0.692) 0%, rgba(126, 90, 255, 0.555) 100%);
    }
  }
  